<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Main</title>

    <!-- Подключение шрифтов -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Подключение стилей -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" />

    <!-- Подключение иконок -->
    <link rel="icon" href="images/header/brand-ico.png" type="image/png" />
    <script defer src="https://kit.fontawesome.com/cb68bb75f4.js" crossorigin="anonymous"></script>

    <!-- Подключение скриптов -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script defer src="js/index.js"></script></head>

  <body>
    <!-- ИНТЕРФЕЙС .app для Инстанса VUEJS -->
    <div id="app">
      <!-- HEADER и МЕНЮ сайта -->
      <header class="header">
        <site-header
          :sandwich_list="sandwichVisibleList"
          :cart_list="cartVisibleList"
          :close_list="closeList"
          @sandwich_change_list="sandwichChangeList"
          @cart_change_list="cartChangeList"></site-header>
      </header>

      <!-- ПРОМО-БЛОК главной страницы -->
      <section class="promo">
        <promo-block></promo-block>
      </section>

      <!-- MAIN -->
      <main class="main">
        <!-- Раздел КАТЕГОРИИ товаров -->
        <categories-product></categories-product>

        <!-- Раздел КАТАЛОГ товаров - Главная -->
        <section class="products">
          <h2 class="hidden">Товары</h2>

          <div class="container">
            <!-- Заголовки секции -->
            <div class="products-header-wrap">
              <h2 class="h2-featured-items">Featured Items</h2>
              <p class="p-featured-items">Shop for items based on what we featured in this week</p>
            </div>

            <!-- ТОВАРЫ -->
            <div>
              <ul class="items" v-if="items.length">
                <product-card
                  v-for="item_arr in items.slice(0, 6)"
                  :key="item_arr.id"
                  :item_card="item_arr">
                </product-card>
              </ul>

              <!-- Если нет товаров в базе -->
              <div class="no-goods-list" v-else>
                <svg
                  width="512"
                  height="512"
                  viewBox="0 0 512 512"
                  style="color: currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-full w-full">
                  <rect
                    width="512"
                    height="512"
                    x="0"
                    y="0"
                    rx="30"
                    fill="transparent"
                    stroke="transparent"
                    stroke-width="0"
                    stroke-opacity="100%"
                    paint-order="stroke"></rect>
                  <svg
                    width="256px"
                    height="256px"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    x="128"
                    y="128"
                    role="img"
                    style="display: inline-block; vertical-align: middle"
                    xmlns="http://www.w3.org/2000/svg">
                    <g fill="currentColor">
                      <g>
                        <rect width="2" height="5" x="11" y="1" fill="currentColor" opacity=".14" />
                        <rect
                          width="2"
                          height="5"
                          x="11"
                          y="1"
                          fill="currentColor"
                          opacity=".29"
                          transform="rotate(30 12 12)" />
                        <rect
                          width="2"
                          height="5"
                          x="11"
                          y="1"
                          fill="currentColor"
                          opacity=".43"
                          transform="rotate(60 12 12)" />
                        <rect
                          width="2"
                          height="5"
                          x="11"
                          y="1"
                          fill="currentColor"
                          opacity=".57"
                          transform="rotate(90 12 12)" />
                        <rect
                          width="2"
                          height="5"
                          x="11"
                          y="1"
                          fill="currentColor"
                          opacity=".71"
                          transform="rotate(120 12 12)" />
                        <rect
                          width="2"
                          height="5"
                          x="11"
                          y="1"
                          fill="currentColor"
                          opacity=".86"
                          transform="rotate(150 12 12)" />
                        <rect
                          width="2"
                          height="5"
                          x="11"
                          y="1"
                          fill="currentColor"
                          transform="rotate(180 12 12)" />
                        <animateTransform
                          attributeName="transform"
                          calcMode="discrete"
                          dur="0.75s"
                          repeatCount="indefinite"
                          type="rotate"
                          values="0 12 12;30 12 12;60 12 12;90 12 12;120 12 12;150 12 12;180 12 12;210 12 12;240 12 12;270 12 12;300 12 12;330 12 12;360 12 12" />
                      </g>
                    </g>
                  </svg>
                </svg>
              </div>
            </div>

            <!-- КНОПКА все товары -->
            <div class="button-wrapper">
              <a href="catalog.html" class="all-product"> Browse All Products </a>
            </div>
          </div>
        </section>
      </main>

      <!-- ОСОБЕННОСТИ и РАЗНОЕ -->
      <section class="features">
        <site-features></site-features>
      </section>

      <!-- ОБРАТНАЯ СВЯЗЬ -->
      <section class="feedback">
        <site-feedback></site-feedback>
      </section>

      <!-- FOOTER -->
      <footer class="footer">
        <site-footer></site-footer>
      </footer>
    </div>
  </body>
</html>
